* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

h2 {
	font-size: 26px;
	margin-top: 30px;
	text-align: center;
	text-transform: uppercase;
}

button:focus {
	outline: none;
}

/* Deactivating the focus of the div */
#myDiagramDiv * {
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

.main-content {
	min-height: 70%;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #333;
	color: white;
}

.brand-title {
	font-size: 1.5rem;
	margin: .5rem;
	padding-left: 0.5rem;
}

.brand-title a {
	text-decoration: none;
	color: white;
}

.navbar-links ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.navbar-links li {
	list-style: none;
}

.navbar-links li a {
	text-decoration: none;
	color: white;
	padding: 1rem;
	display: block;
}

.navbar-links li:hover {
	background-color: #444;
}

.ribbon {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #555;
	color: white;
}

.ribbon-links ul {
	margin: 0;
	padding: 0;
	display: flex;
}

.ribbon-links li {
	list-style: none;
	cursor: pointer;
}

.ribbon-links li a {
	text-decoration: none;
	color: white;
	padding: 0.5rem;
	display: block;
}

.ribbon-links li:hover {
	background-color: #444;
}

.toggle-button {
	position: absolute;
	top: .75rem;
	right: 1rem;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button .bar {
	height: 3px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

@media (max-width: 900px) {
	.toggle-button {
		display: flex;
	}

	.navbar-links {
		display: none;
		width: 100%;
	}

	.navbar {
		flex-direction: column;
		align-items: flex-start;
	}
	.navbar-links ul {
		width: 100%;
		flex-direction: column;
	}

	.navbar-links li {
		text-align: center;
	}

	.navbar-links li a {
		padding: .5rem 1rem;
	}

	.navbar-links.active {
		display: flex;
	}
}

/* Search */

.search-box {
	padding-right: 10px;
	align-items: center;
	margin: auto auto;
}

.search-form {
	line-height: 50px;
	vertical-align: middle;
	display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-txt{
	background: #444;
	border-radius: 4px;
	border: none;
	color: white;
	width: 100%;
	padding-left: 10px;
}

input:focus{
  outline: none;

}

.search-btn {
	background: #444;
	color: white;
	padding: 5px;
	border-radius: 4px;
	border: none;
	background: transparent;
	padding: 10px;
}

.search-btn:hover {
	color: #333;
	background: white;
}

.no-hover {
	display: flex;
}

.no-hover:hover {
	background: #333 !important;
	text-align: center;
}


/* Footer */

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #333;
	width: 100%;
	height: 180px;
	color: white;
	clear: both;
}

.footer-content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-top: 40px;
}

.footer-content h3 {
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: .5rem;
}



.footer-links {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 2rem 0 2rem 0;
}


.footer-links li {
	margin: 0 10px;
}

.footer-links a {
	text-decoration: none;
	color: white;
}

.footer-links a:hover {
	color: #ffaf00;
}

.footer-bottom {
	background: #111;
	width: 100%;
	padding: 10px 0;
	text-align: center;
}

.footer-bottom p {
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
	line-height: 30px;
}

.footer-bottom span {
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
	white-space: nowrap;
}

@media(max-width: 900px) {
	footer {
		position: relative;
	}
}




/* Table */

table {
	margin: 25px 0;
	font-size: 0.9em;
	overflow: auto;
	padding-bottom: 0px;
}

.table {
	width: 100%;
	border-collapse: collapse;
}

.table thead tr {
	background-color: #ffaf00;
	color: black;
	font-weight: bold;
	padding: 5px 15px;
}

.table thead th {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 18px;
}

.table td  {
	padding: 5px 15px;
	text-align: center;
	font-size: 18px;
}


.table-btn {
		background: #333;
		text-align: center;
		padding: 10px;
		border-radius: 5px;
		color: white;
		cursor: pointer;
		text-transform: uppercase;
		border: none;
		width: 80px;
	}

	.table-btn:hover {
		color: white;
		background: #ffaf00;
	}

	.table-delete-btn {
		background: #333;
		text-align: center;
		padding: 10px;
		border-radius: 5px;
		color: white;
		cursor: pointer;
		text-transform: uppercase;
		border: none;
		width: 80px;
	}

	.table-delete-btn:hover {
		color: white;
		background: #cc0000;
	}

.table tbody tr:nth-child(even) {
	background-color: #f3f3f3; /* light grey lines */
	padding-bottom: 15px;
}

.table tbody tr {
	border-bottom: 1px solid #dbdbdb;
	border-top: 1px solid #dbdbdb;
}


@media(max-width: 1000px) {
	.table {
		margin: 25px 0px 0px 0px;
	}

	.table thead {
		display: none;
	}

	.table, .table tbody, .table tr, .table td {
		display: block;
		width: 100%;
	}
	.table tr {
		padding-top: 15px;
	}

	.table tbody tr:first-child {
		border-top: 2px solid #ffaf00;
	}

	.table tbody tr:last-child {
		border-bottom: 0px;
		border-top: 0px;
	}
	.table td {
		text-align: right;
		padding-left: 40%;
		position: relative;
		height: 50px;
	}

	.table .td-contains-btn {
		display: flex;
		text-align: center;
		padding-left: 0;
		padding-right: 0;
		width: 100%;
	}

	.table .td-contains-btn form{
		text-align: center;
		margin: auto;
	}

	.table-btn {
		background: #333;
		text-align: center;
		padding: 10px;
		border-radius: 5px;
		color: white;
		cursor: pointer;
		text-transform: uppercase;
		border: none;
		width: 250px;
	}

	.table-btn:hover {
		color: white;
		background: #ffaf00;
	}

	.table-delete-btn {
		background: #333;
		text-align: center;
		padding: 10px;
		border-radius: 5px;
		color: white;
		cursor: pointer;
		text-transform: uppercase;
		border: none;
		width: 250px;
	}

	.table-delete-btn:hover {
		color: white;
		background: #cc0000;
	}



	.table td::before {
		content: attr(data-label);
		position: absolute;
		left: 0;
		width: 40%;
		padding-left: 15px;
		font-size: 15px;
		font-weight: bold;
		text-align: left;
	}
}


/* Form */


.form {
	max-width: 350px;
	margin: 70px auto;
	background: rgba(0, 0, 0, 0.8);
	padding: 30px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.13);
	margin-bottom: 50px;
}

.form p {
	margin-bottom: 15px;
	color: white;
	text-align: center;
}

.form h2 {
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
	color: white;
}

.input-fields {
	display: flex;
	flex-direction: column;
}

.input-fields span{
	margin-bottom: -15px;
	color: #ffaf00;
	opacity: .7;
}

input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active  {
	-webkit-text-fill-color: white !important;
	-webkit-box-shadow: 0 0 0 30px #444 inset;
}

input:-webkit-autofill {
	-webkit-text-fill-color: white !important;
	-webkit-box-shadow: 0 0 0 30px #333 inset;
}

.input {
	width: 100%;
	margin: 10px 0;
	background: transparent;
	border: 0;
	border-bottom: 2px solid white;
	padding: 10px;
	color: white;
}

.form-btn {
	margin-top: 30px;
	background: white;
	text-align: center;
	padding: 15px;
	border-radius: 5px;
	color: #333;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 18px;
	border: none;
}

.form-btn:hover {
	background-color: #ffaf00;
	color: white;
	transition: 0.4s;
}

.form-delete-btn {
	margin-top: 30px;
	background: white;
	text-align: center;
	padding: 15px;
	border-radius: 5px;
	color: #333;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 18px;
	border: none;
}

.form-delete-btn:hover {
	background-color: #cc0000;
	color: white;
	transition: 0.4s;
}

/* Messages */

.message {
	padding-bottom: 20px;
}


/* Welcome Page */

.container {
	overflow: hidden;
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 100%;
}

.welcome-container {  /* content container */
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.welcome-container h2 {
	text-align: left;
	font-weight: bold;
	font-size: 28px;
}

.welcome-container p {
	text-align: left;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 18px;
}

.welcome-btn-container {
	display: flex;
	flex-direction: row;
}

.welcome-btn {
	margin-top: 10px;
	background: #333;
	text-align: center;
	padding: 15px;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 18px;
	border: none;
	margin: 15px;
}

.welcome-btn:hover {
	background-color: #ffaf00;
	color: white;
	transition: 0.4s;
}
.welcome-img { /* img container */
	width: 50%;
	padding-left: 50px;
	padding-top: 25px;
}

.welcome-img img{
	width: 100%;
	height: 90%;
}

.welcome-auth {
	max-width: 100%;
}

.img {
	padding-top: 50px;
	display: flex;
	width: 100%;
	height: auto;
	justify-content: center;
	padding-bottom: 25px;
}


@media(max-width: 700px) {

	.container {
		position: absolute;
		height: 80%;
	}

	.welcome-container {  /* content container */
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
	width: 80%;
	}

	.welcome-container h2 {
	text-align: center;
	}

	.welcome-container p {
	text-align: center;
	}

	.welcome-btn-container {
	justify-content: center;
	}

	.welcome-img { /* img container */
	width: 100%;
	padding: 20px;
	}
}

.img {
	width: 100%;
	height: auto;
}

img {
	max-height: 600px;
	width: 80%;
	height: auto;
}
